body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #dbd9d9;
    color: #2c2e2c;
}

header {
    background: #4d5f6c;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.intro, .projects {
    padding: 20px;
    text-align: center;
}

.project {
    background: #fff;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: relative;
}
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
